* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    background: #FFF;
    font-family: 'Roboto Mono', monospace;
    height: 100vh; 
  }
  @media (min-width: 399px) {
    body {
      font-size: 14px;
    }

  @media (min-width: 600px) {
      body {
        font-size: 22px;
      }
    }
  header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  a {
  color: #ececec;
  text-decoration: none;
  }
  .menu a:hover {
    color: white;
    text-decoration: underline;
  }
  .menu {
    background-color: rgb(34, 34, 34);
    position: fixed;
    top: 0;
    width: 100vw;
  }
  .menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
  }
  .menu li {
    list-style: none;
  }
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  .site-subtitle,
  .site-title {
    color: #1C1C1C;
    text-align: center;
  }
  .site-title {
    font-family: 'Courgette', cursive; 
  }
  .site-subtitle {
    font-size: 20px;
  }
  .sobre,
  .contato,
  .portfolio {
    padding: 2em;
    min-height: 100vh;
  } 
  @media (min-width: 1200px) {
  .sobre,
  .contato,
  .portfolio {
   min-width: 1200px;
   margin-left: auto;
   margin-right: auto;
  } 
  }
  .sobre h2,
  .contato h2,
  .portfolio h2{
    font-style: italic;
    color: #2a2d2d;
    font-size: 1.7em;
  } 
.img-portfolio-html {
  width: 270px;
}
.img-portfolio-cpp {
  /*! height: 74; */
  width: 274px;
}
.port {
  text-align: center;
  padding: 10px;
  font-size: 45px;
}
.contato a {
  color: black;
  font-size: 3em;
  transition: text-shadow 1s;
}
.contato a:active,
.contato a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 6px black;
}
.contato .icons {
  text-align: center;
}
.sobre p {
  margin: 10px;
  margin-bottom: 1.4em;
  text-indent: 1.4em;
  text-align: justify;
}
.sobre a {
  color: rgb(87, 87, 252);
}